
$dark-blue: #36465d;
$search-blue: #2F3D51;
$very-lightgray: #BEBEBE;
$very-very-lightgray: #DDDDDD;
$lightest-gray: #F2F2F2;
$charcoal: #444444;
$placeholder-color: #A9A9A9;
$gray-butt: #9da6af;
$hover-blue: #D6E6FC;

// home buttons
$sky-blue: #529ECC;
$purple-rain: #9E6EC2;
