@import 'base/colors.scss';

// font-family: 'Pragati Narrow', sans-serif;
// font-family: 'Asap Condensed', sans-serif;
// font-family: 'Alfa Slab One', cursive;

.everywhere {
  background-color: $dark-blue;
  height: 100vh;

}

.main-content {
  position: relative;
  display: flex;
  justify-content: center;
  top: 60px;
  margin: auto;
  border-top: .5px solid #4C4C4D;
  padding-top: 30px;
  width: 546px;
}

.post-buttons {
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  width: 546px;
  height: 100px;
}

.post-buttons li {
  box-sizing: border-box;
  margin: auto;
  min-width: 78px;
  // height: 100px;
  display: flex;
  justify-content: center;
  border-right: 1px solid $lightest-gray

}

.post-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-buttons div {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;

}
