@import 'base/colors.scss';

// font-family: 'Pragati Narrow', sans-serif;
// font-family: 'Asap Condensed', sans-serif;
// font-family: 'Alfa Slab One', cursive;

.everywhere {
  background-color: $dark-blue;
  height: 100vh;

}

.main-nav-logo {
  position: static;

}

.search {
  
}
