@import 'base/colors.scss';

.everywhere {
  background-color: $dark-blue;
  height: 100vh;
  background-size: cover;
}

.main-content {
  position: relative;
  display: flex;
  justify-content: center;
  top: 60px;
  background-color: $dark-blue;

  // margin: auto;
  // border-top: .5px solid #4C4C4D;
  padding: 30px 0;
  // width: 546px;
}

.feed {
  display: flex;
  flex-direction: column;
  // align-items: flex-end;
  // margin: auto;
}

.post-bar {
  display: flex;
}

.avatar {
  width: auto;
  height: auto;
  background: $dark-blue 50% 50% no-repeat;
  margin-right: 20px;
  border-radius: 3px;
  border-collapse: separate;
  overflow: hidden;
  position: relative;
}

.cu-avatar {
  z-index: 7;
  height: 64px;
}

.sticky-avatar {
  position: sticky;
  top: 64px;
}

.avatar-img {
  width: 64px;
  height: 64px;
  background-size: cover;
  overflow: visible;
  background: $dark-blue 50% 50% no-repeat;
  border-radius: 3px;
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // width: 100%;
  // height: 100%;
  // border-radius: 3px;
}

.post-buttons {
  background-color: white;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  // width: 546px;
  height: 100px;
}

.post-buttons li {
  box-sizing: border-box;
  margin: auto;
  min-width: 78px;
  // height: 100px;
  display: flex;
  justify-content: center;
  border-right: 1px solid $lightest-gray

}

.post-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-buttons div {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.post-buttons span {
  color: #787878;
}

.posts {
  color: $charcoal;
}

.posts li {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.post {
  box-sizing: border-box;
  background-color: white;
  border-radius: 3px;
  // padding: 20px;
  width: 546px;
}

.username-head {
  font-family: 'Biryani', sans-serif;
  font-size: 11px;
  padding: 20px 20px 0 20px;
  margin-bottom: 13px;
}

.title {
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  padding: 10px 20px 5px 20px;
  // display: inline-block;
}

.text-post {
  font-size: 15px;
  padding: 15px 20px;
}

.text-post h1 {
  font-size: 21px;
  font-weight: 600px;
}

.text-post h2 {
  font-size: 18px;
  font-weight: 400px;
}

.video-prev {
  height: 350px
}


.post a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.link-host {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 13px;
  color: white;
  position: absolute;
  padding-left: 20px;
  padding-top: 15px;
}

.link-bg {
  background-color: $lightest-gray;
}

.post-footer {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 10px 20px 20px;
  width: 546px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.post-footer p {
  padding-top: 10px;
  padding-left: 10px
}

.post-options {
  display: flex;
  justify-content: space-around;
  width: 75px;
}

.hidden {
  display: none;
}

.file-post {
  height: 100%;
  width: 100%;
}

.options-dropdown {
  position: absolute;
  z-index: 4;
  top: 45px;
  right: -25px;
  box-shadow: -7px 9px 21px -7px rgba(125,125,125,0.61);
}

.edit-options {
  width: 125px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: 1px solid $very-very-lightgray;
}

.edit-options a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding-top: 10px;
}

.edit-options li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  padding-left: 15px;
  margin-top: 0;
}

.edit-options > :first-child {
  // margin-top: 2px;
  // padding-top: 10px;
  padding-bottom: 10px;
}

.edit-options > :last-child {
  margin-top: 0;
  margin-bottom: 2px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.edit-options li:hover {
  background-color: $hover-blue;
  cursor: pointer;
}

.edit-options a:hover {
  background-color: $hover-blue;
  cursor: pointer;
  margin-top: 2px;
}

.dropdown-modal {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
