@import 'base/colors.scss';

body {
  font-family: 'Yantramanav', sans-serif;
}

.nav-logo {
  color: white;
  font-size: 40px;
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  top: -3px;
  left: 20px;
  margin-right: 40px;
}

.home-nav {
  display: flex;
  padding-top: 7px;
}

.home-logo {
  font-size: 55px;
  margin-bottom: 15px
}

.home-search {
  z-index: 2;
  max-width: 475px;
  width: 475px;
  border: none;
  opacity: .3;
  color: $charcoal;
  height: 34px;
  text-indent: 5px;
  font-size: 14px;
  padding: 1px 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-search:focus {
  background-color: white;
  opacity: 1;
  color: $charcoal;
}

.home-search::-webkit-input-placeholder {
  color: $charcoal;
}

.home-main {
  background-image: url('https://s3.amazonaws.com/copyr-dev/login-screen/tools-for-motivation-301199.jpg');
  background-size: cover;
  height: 100vh;
}

.home-mid {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.home-logo {
  font-size: 55px;
  margin-bottom: 15px;
  font-family: 'Alfa Slab One', cursive;
}

.home-desc {
  font-size: 17px;
  font-family: 'Yantramanav', sans-serif;
  margin-top: 5px;
}

.home-butt {
  width: 300px;
  min-height: 45px;
  border-radius: 5px;
  font-size: 16px;

  font-family: 'Catamaran', sans-serif;
  margin-top: 10px;
}

button {
  cursor: pointer;
}

.signup {
  background-color: $sky-blue;
}

.login {
  background-color: white;
  color: $charcoal;
}

.guest-login {
  background-color: $purple-rain;
  color: white;
  margin-bottom: 10px;
}

input::placeholder {
  color: $very-lightgray;
}

.form-list {
  display: flex;
  flex-direction: column;
}

.auth-input {
  color: $charcoal;
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  border: none;
  width: 300px;
}

.auth-email {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 15px;
}

.auth-pw {
  border-top: 1px solid $very-very-lightgray;
}

.auth-username {
  border-top: 1px solid $very-very-lightgray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pw-bot-bord {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.white-butt {
  background-color: white;
  color: $charcoal;
}

.stretchLeft{
	animation-name: stretchLeft;
	-webkit-animation-name: stretchLeft;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%;
}

@keyframes stretchLeft {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}
}

@-webkit-keyframes stretchLeft {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}
}
