@import 'base/colors.scss';

// font-family: 'Pragati Narrow', sans-serif;
// font-family: 'Asap Condensed', sans-serif;
// font-family: 'Alfa Slab One', cursive;

body {
  font-family: 'Pragati Narrow', sans-serif;
}

.nav-logo {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 5px;
  left: 160px;
  font-family: 'Alfa Slab One', cursive;
}

.home-main {
  background-image: url('https://s3.amazonaws.com/copyr-dev/users/images/000/000/008/original/tools-for-motivation-301199.jpg');
  background-size: cover;
  height: 100vh;
}

.home-mid {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  // position: fixed;
  // margin: 50% 50%;
}

.home-logo {
  font-size: 55px;
  // font-weight: 400;
  margin-bottom: 15px;
  font-family: 'Alfa Slab One', cursive;
}

.home-desc {
  font-size: 19px;
}

.home-butt {
  width: 300px;
  min-height: 45px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Asap Condensed', sans-serif;
  margin-top: 10px;
}

button span {
  // display: block;
  // padding: 10px 0;
}

.signup {
  background-color: $sky-blue;
  // margin-top: 10px;
}

.login {
  background-color: white;
  color: $charcoal;
  // margin-top: 10px;
}

.guest-login {
  background-color: $purple-rain;
  color: white;
  // margin-top: 10px;
  margin-bottom: 10px;
}

input::placeholder {
  color: $very-lightgray;
}

.form-list {
  display: flex;
  flex-direction: column;
}

.auth-input {
  color: $charcoal;
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  border: none;
  width: 300px;
}

.auth-email {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 15px;
}

.auth-pw {
  border-top: 1px solid $very-very-lightgray;
}

.auth-username {
  border-top: 1px solid $very-very-lightgray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pw-bot-bord {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hidden {
  display: none;
}

.white-butt {
  background-color: white;
  color: $charcoal;
}

.slideLeft{
	animation-name: 'slideLeft';
	-webkit-animation-name: 'slideLeft';

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(-8%);
	}
	65%{
		-webkit-transform: translateX(4%);
	}
	80%{
		-webkit-transform: translateX(-4%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}
