@import 'base/colors.scss';

.side-bar {
  width: 320px;
  margin-right: auto;
  margin-left: 45px;
  color: $bg-gray;
}

.recommended-blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

}

.recommended-blogs h5 {
  color: $bg-gray;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 13px;
  box-shadow: 0 1.8px 0 $bg-gray;
  padding-left: 15px;
  padding-bottom: 10px;
  width: 100%;
}

.recommended-blogs ul {
  width: 100%;
  // display: flex;
  // flex-direction: column;
}

.recommended-blogs li {
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4px 0 $bg-gray;
  padding: 9px 10px;
}

.rec-avatar {
  background-size: contain;
  // width: 38px;
  height: 40px;
  width: 40px
}

.username-bio {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 5px;
  width: auto;
  color: $bg-gray;
}

.username-bio p {
  color: $very-lightgray;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 0;
}

.username-bio span{
  padding: 3px 0 0 5px;
  font-size: 14px;
  color: #777777;
  color: $bg-gray;

}

.rec-follow {
  position: absolute;
  right: 10px;
}
