<!DOCTYPE html>
<html>
<head>
  <title>Copyr</title>
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Asap+Condensed|Biryani:900|Hind|Kadwa:700|Nunito|PT+Sans|Quicksand:500|Yantramanav:300" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
